---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="imageGallery1">
    <a href="/my_site_assets/the_space_elevator-03-c-itunes.jpg" title="Caption for gallery item 1"><img src="/my_site_assets/the_space_elevator-03-c-itunes.jpg" alt="Gallery image 1" /></a>
    <a href="/my_site_assets/the_space_elevator-04-c-itunes.jpg" title="Caption for gallery item 2"><img src="/my_site_assets/the_space_elevator-04-c-itunes.jpg" alt="Gallery image 2" /></a>
  </div>

  <script src="/my_site_assets/simpleLightbox/simpleLightbox.min.js"></script>
  <script>
    new SimpleLightbox({elements: '.imageGallery1 a'});
  </script>

</div>
