---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="imageGallery1">
  {% for row in site.data.photos %}
    <a href="{{ row.full_img }}" title="{{ row.title }}"><img src="{{ row.thumbnail }}" alt="Gallery image 1" /></a>
  {% endfor %}
  </div>

  <script src="/my_site_assets/simpleLightbox/simpleLightbox.min.js"></script>
  <script>
    new SimpleLightbox({elements: '.imageGallery1 a'});
  </script>

</div>
