---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <div class="image_gallery">
  {% for row in site.data.photos %}<a href="{{ row.url_k }}" title="{{ row.title }}<br><span>{{ row.datetaken }}</span>"><img src="{{ row.url_q }}" alt="{{ row.title }}"></a>{% endfor %}
  </div>

  <script src="/my_site_assets/simpleLightbox/simpleLightbox.min.js"></script>
  <script>
    new SimpleLightbox({elements: '.image_gallery a'});
  </script>

</div>
